
<div class="container theme-showcase" role="main">
<div class="jumbotron_cocktail">
	



	<h1>Discover your new house drink!</h1>
        <p><i>The house drink</i>, the one you can make at a moment's notice, without needing to think about it. <i><strong>What's yours?</strong></i></p>

        <div class="col-lg-6">
		    <div class="input-group">
		      <input type="text" class="form-control">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search icon-blue"></span></button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
 </div>
 </div>
  <%#= link_to "Recipes", recipes_path, class: "btn btn-large btn-primary" %>


