<li>
      <%= cocktail_image %>
      <%= link_to recipe.name, recipe %> | 
      <%= link_to "Delete", recipe, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  
 </li>

